<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752924100326-jnroasof01vi7glu4j1dj54818hjimh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752924100326-jnroasof01vi7glu4j1dj54818hjimh3</string>
	<key>API_KEY</key>
	<string>AIzaSyD7DPgcemfcBLI3ZprrZr67jryzs-ZN90g</string>
	<key>GCM_SENDER_ID</key>
	<string>752924100326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eitysams.photobazar</string>
	<key>PROJECT_ID</key>
	<string>photobazar-79b1e</string>
	<key>STORAGE_BUCKET</key>
	<string>photobazar-79b1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:752924100326:ios:26b7f6834bdf5c672e1d27</string>
	<key>DATABASE_URL</key>
	<string>https://photobazar-79b1e.firebaseio.com</string>
</dict>
</plist>
